<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

<!--  配置sessionFactory  --> 

	<!-- dao -->
	<bean id="UserDao" class="dao.impl.UserDaoImpl">		
	</bean>
	<bean id="CinemaDao" class="dao.impl.CinemaDaoImpl">		
	</bean>	
	<bean id="AdministratorDao" class="dao.impl.AdministratorDaoImpl">
	</bean>
	<bean id="QuestionDao" class="dao.impl.QuestionDaoImpl">
	</bean>
	<bean id="AnswerDao" class="dao.impl.AnswerDaoImpl">
	</bean>
	<bean id="CinemaHallDao" class="dao.impl.CinemaHallDaoImpl">		
	</bean>	
	<bean id="FilmScheduleDao" class="dao.impl.FilmScheduleDaoImpl">		
	</bean>	
	<bean id="PlayListDao" class="dao.impl.PlayListDaoImpl">		
	</bean>			
	<!-- service -->
	<bean id="UserService" class="service.impl.UserServiceImpl">
		<property name="UserDao">
			<ref bean="UserDao"/>
		</property>
	</bean>	
	<bean id="AdministratorService" class="service.impl.AdministratorServiceImpl">
		<property name="AdministratorDao">
			<ref bean="AdministratorDao"/>
		</property>
	</bean>		
	<bean id="QuestionService" class="service.impl.QuestionServiceImpl">
		<property name="QuestionDao">
			<ref bean="QuestionDao"/>
		</property>
		<property name="AnswerDao">
			<ref bean="AnswerDao"/>
		</property>
	</bean>	
	<bean id="AnswerService" class="service.impl.AnswerServiceImpl">
		<property name="AnswerDao">
			<ref bean="AnswerDao"/>
		</property>
	</bean>	
	
	<!-- action -->
	<bean id="UserAction" class="action.UserAction">
		<property name="UserService">
			<ref bean="UserService"/>
		</property>
	</bean>
	<bean id="LoginAction" class="action.LoginAction">
		<property name="AdministratorService">
			<ref bean="AdministratorService"/>
		</property>
	</bean>	
	<bean id="QuestionListAction" class="action.QuestionListAction">
		<property name="QuestionService">
			<ref bean="QuestionService"/>
		</property>
	</bean>
	<bean id="QuestionDetailAction" class="action.QuestionDetailAction">
		<property name="QuestionService">
			<ref bean="QuestionService"/>
		</property>
		<property name="AnswerService">
			<ref bean="AnswerService"/>
		</property>
	</bean>
</beans>
